*{
    font-family:'Courier New', Courier, monospace;  
}


body{

background-position: cover;
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://images.pexels.com/photos/776654/pexels-photo-776654.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
h1 {
    color: goldenrod;
}